{% load static %}

<script src={% static "scripts/jquery-3.1.1.min.js" %}></script>
<script src={% static "scripts/bootstrap-3.3.7-dist/js/bootstrap.min.js" %}></script>

<link rel="stylesheet" href={% static "scripts/bootstrap-3.3.7-dist/css/bootstrap.min.css" %}>
<link rel="stylesheet" href={% static "scripts/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" %}>

{% include "index/style.html" %}
{% include "index/leftMenu.html" %}

<script>
  window.buttonStatus = "None"

  function toggleModal(Title, Body, button){
    $("#modalHeader").html(Title)
    $("#modalBody").html(Body)
    $("#modalFooter").html("")
    for(var i = 0; i < button.length; i++){
      $("#modalFooter")[0].innerHTML += '<button id="modalButton_'+i+'" class="btn btn-default modal-button" data-dismiss="modal">'+button[i].name+'</button>'
    }
    for(var i = 0; i < button.length; i++){
      $("#modalButton_"+i).bind('click', button[i].func)
    }
    $('#myModal').modal('show')
  }
</script>

<html class="white-scroll" style="background-color: #999">
  {% include "index/modals.html" %}
  {% include "index/ChooseMonthYear.html" %}
  {% include "index/EventList.html" %}
  <div id="main" class="carousel slide" data-ride="carousel" onclick="checkMenu()" data-interval="false">
    <nav id="navhead" class="navhead navbar navbar-inverse" style="margin-bottom: 0;">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Smart Schedule</a>
        </div>
        <ul id="navheadmenu" class="nav navbar-nav">
          <li id="m1" class="mnav active"><a data-target="#main" data-slide-to="0">Notifications</a></li>
          <li id="m3" class="mnav"><a data-target="#main" data-slide-to="1">Calendar</a></li>
          <li id="m4" class="mnav"><a data-target="#main" data-slide-to="2">Resource</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" style="margin-right: 30px;">
          <li><a href="#">Noo Lek</a></li>
          <li><img src={% static "images/user.jpg" %} height="46px" width="46px" style="border-radius: 100%; margin-top: 2px;"></li>
        </ul>
      </div>
    </nav>
    <div class="carousel-inner" role="listbox">

      <div class="item">
        
      </div>

      <div class="item active">
        <div class="col-md-12 calendar">
          <div class="row">
            <div class="col-md-3">
              <!-- <span style="margin-left: 0px;" class="glyphicon glyphicon-menu-hamburger open-menu" onclick="openNav()"></span> -->
            </div>
            <div class="col-md-6 clhead">
              <div class="col-md-3">
                <span id="hamburger" class="glyphicon glyphicon-menu-hamburger open-menu" onclick="openLeftNav('Menu')"></span>
              </div>
              <div class="col-md-6 month-year">
                <a id="MY" onclick="openRightNav('ChooseMY')">
                  <b>
                    <span id="month">
                    </span>
                    <span id="year">
                    </span>
                  </b>
                </a>
              </div>
              <div class="col-md-3" align="left">

              </div>
            </div>
            <div class="col-md-3" align="left">

            </div>
          </div>
          <div class="row date-contain">
            <div class="col-md-3" style="background-color: #666; height: 100%;" align="left">

            </div>
            <div id="dateBlock" class="col-md-6" style="background-color: #aaa; height: 100%; padding-left: 3.2%;" align="center">

            </div>
            <div class="col-md-3" style="background-color: #666; height: 100%;" align="left">

            </div>
          </div>
        </div>
      </div>

      <div class="item">

      </div>

      <div class="item">

      </div>
    </div>
  </div>
</html>

{% include "index/script.html" %}
