<div id="ChooseMY" class="MenuR white-scroll no-right" style="background-color: #000;">
  <div class="row" style="height: 50px;">
    <div class="col-md-6" style="height: 100%; background-color: #666; font-size: 2vw;">
      Month
    </div>
    <div class="col-md-6" style="height: 100%; background-color: #666; font-size: 2vw;">
      Year
    </div>
  </div>
  <div class="col-md-6" style="height: auto; background-color: #ddd; padding: 0px;">
    <div class="dropdown" style="width: 100%;">
      <button id="Monthdr" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span id="MonthShow"></span>
      <span class="caret"></span></button>
      <ul id="MonthdrItem" class="dropdown-menu">
      </ul>
    </div>
  </div>
  <div class="col-md-6" style="height: auto; background-color: #ddd; padding: 0;">
    <div class="dropdown col-md-12 scrollable-menu" style="width: 100%;">
      <button id="Yeardr" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span id="YearShow"></span>
      <span class="caret"></span></button>
      <ul id="YeardrItem" class="dropdown-menu">
      </ul>
    </div>
  </div>
  <!-- <div class="col-md-6" style="height: 50%; background-color: #666;">

  </div>
  <div class="col-md-6" style="height: 50%; background-color: #666;">

  </div> -->
</div>
