<div id="Event" class="MenuR white-scroll no-right">
  <div class="row event-head" align="center">
    Event <span class="glyphicon glyphicon-calendar"></span>
  </div>
  <div class="row evItem" style="margin-bottom: 20px;">
    <button id="addEvent" align="center" class="col-md-6 btn">
      Add Event
    </button>
    <button id="removeEvent" align="center" class="col-md-6 btn">
      Remove Event
    </button>
  </div>
  <div id="eventList" class="row evItem">

  </div>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

</div>

<script>
  function Event(data){
    var content = $("#eventList")[0]
    content.innerHTML = ""
    for(var i = 0; i < 10; i++){
      content.innerHTML += "<div class='col-md-12 eventListItem'><div class='front-box' style='position: absolute; top: 43%; left: -10%;'></div><p>10AM - 5PM</p><p>Come to Join me at 10AM.</p><p align='right'>from: Donut</p></div>"
    }
  }

  $("#removeEvent").click(function(e){
    var items = $(".eventListItem")
    var box = $(".front-box")
    var add = $("#addEvent")[0]
    var rm = $("#removeEvent")[0]
    if(window.buttonStatus == "None"){
      window.buttonStatus = "rmEvent"
      for(var i in box){
        box[i].innerHTML = "<input type='checkbox' class='front-check-box' id='frontBox_" + i + "'>"
      }
      items.css("margin-left", "20")
      add.innerHTML = "Remove"
      rm.innerHTML = "Cancel"
    }else if(window.buttonStatus == "rmEvent"){
      window.buttonStatus = "None"
      for(var i in box){
        box[i].innerHTML = ""
      }
      items.css("margin-left", "0")
      add.innerHTML = "Add Event"
      rm.innerHTML = "Remove Event"
    }
  })

  $("#addEvent").click(function(e){
    var items = $(".eventListItem")
    var box = $(".front-box")
    var add = $("#addEvent")[0]
    var rm = $("#removeEvent")[0]
    if(window.buttonStatus == "None"){
      // window.buttonStatus = "rmEvent"
      // for(var i in box){
      //   box[i].innerHTML = "<input type='checkbox' id='frontBox_" + i + "'>"
      // }
      // items.css("margin-left", "20")
      // add.innerHTML = "Remove"
      // rm.innerHTML = "Cancel"
    }else if(window.buttonStatus == "rmEvent"){
      var chbox = $(".front-check-box")
      var rmList = []
      var count = 0
      for(var i = 0; i < chbox.length; i++){
        count += chbox[i].checked
        rmList.push(chbox[i].checked)
      }
      console.log(rmList)
      if(count > 0){
        var k = (count > 1) ? ' items' : ' item'
        toggleModal("Delete ?", "Do you want to delete " + count + k, [{
          "name": "Yes",
          "func": function(){
            console.log("Yes");
          }
        }, {
          "name": "No",
          "func": function(){
            console.log("No");
          }
        }])
      }else{
        window.buttonStatus = "None"
        for(var i in box){
          box[i].innerHTML = ""
        }
        items.css("margin-left", "0")
        add.innerHTML = "Add Event"
        rm.innerHTML = "Remove Event"
      }
    }
    
  })
</script>
