<div id="Menu" class="Menu white-scroll">
  <div class="row">
    <a href="#">
      <span class="col-md-6" align="left">
        Schedule
      </span>
      <span class="col-md-6 glyphicon glyphicon-tasks" align="right" style="font-size: 2.4vw; margin-top: 0.2vw;">
      </span>
    </a>
  </div>
  <div class="row">
    <a href="#">
      <span class="col-md-6" align="left">
        People
      </span>
      <span class="col-md-6 glyphicon glyphicon-globe" style="font-size: 2.4vw;" align="right">
      </span>
    </a>
  </div>
  <div class="row">
    <a href="#">
      <span class="col-md-6" align="left">
        Home
      </span>
      <span class="col-md-6 glyphicon glyphicon-home" align="right" style="font-size: 2.4vw;">
      </span>
    </a>
  </div>
  <div class="row">
    <a href="#">
      <span class="col-md-6" align="left">
        Settings
      </span>
      <span class="col-md-6 glyphicon glyphicon-wrench" align="right" style="font-size: 2.4vw;">
      </span>
    </a>
  </div>
</div>
