<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 id="modalHeader" class="modal-title"></h4>
      </div>
      <div id="modalBody" class="modal-body">
      </div>
      <div id="modalFooter" class="modal-footer">
      </div>
    </div>

  </div>
</div>
