<script>
  function getNumDayInMonth(y, m){
    return new Date(y, m, 0).getDate()
  }

  function renderDay(y, m) {
    var n = getNumDayInMonth(y, m)
    var w = new Date(y, m-1, 1).getDay()
    var content = $("#dateBlock")[0]
    var now = new Date()
    var now_y = now.getFullYear()
    var now_m = now.getMonth() + 1
    var now_d = now.getDate()
    // now_m = 6
    // now_d = 1
    // console.log(w, n);
    content.innerHTML = ""
    var h = 0
    var day = 0
    console.log(now_y, now_m, now_d)
    for(var i = -w; i < n; i++){
      h = i+1
      s = ""
      if(i < 0){
        h = getNumDayInMonth(y, m-1)+i+1
        month = m - 1
        year = y - (month == 0)
        if(month == 0)
          month = 12
        var cls = ""
        if(year == now_y && month == now_m && h == now_d){
          cls += " current-date-other"
        }
        s = "<button class='btn date other-month"+ cls +"' onclick=\"openRightNav('Event', Event, {y:"+year+",m:"+month+",d:"+h+"})\">"
      }else{
        var cls = "sunday"
        if(day == 0){
          cls = "sunday"
        }if(day == 1){
          cls = "monday"
        }else if(day == 2){
          cls = "tuesday"
        }else if(day == 3){
          cls = "wednesday"
        }else if(day == 4){
          cls = "thursday"
        }else if(day == 5){
          cls = "friday"
        }else if(day == 6){
          cls = "saturday"
        }
        if(y == now_y && m == now_m && h == now_d){
          cls += " current-date"
        }
        // console.log(cls)
        s = "<button class='btn date "+cls+"' onclick=\"openRightNav('Event', Event, {y:"+y+",m:"+m+",d:"+h+"})\">"
      }
      content.innerHTML += s + h + "</button>"
      day = (day+1)%7
    }
    // var w = new Date(y, m+1, 1).getDay()
    // console.log(w);
    for(var i = i+w; i < 42; i++){
      month = m + 1
      year = y + (month > 12)
      if(month == 13)
        month = 1
      day = (i-h-w+1)
      var cls = ""
      if(year == now_y && month == now_m && day == now_d){
        cls += " current-date-other"
      }
      content.innerHTML += "<button class='btn date other-month"+cls+"' onclick=\"openRightNav('Event', Event, {y:"+year+",m:"+month+",d:"+day+"})\">" + day + "</button>"
    }
  }

  $( ".no-right" ).scroll(function(){
    $( ".no-right" ).scrollLeft(0)
  })

  function openLeftNav(id, data=null) {
    if(!document.menuIsOpened){
      document.getElementById(id).style.marginLeft = "0vw";
      // document.getElementById("main").style.marginLeft = "20vw";
      document.getElementById("navhead").style.marginLeft = "25vw";
      document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
      setTimeout(function(){
        document.menuIsOpened = true
      }, 200)
    }
  }

  function closeLeftNav(id) {
    document.menuIsOpened = false
    document.getElementById(id).style.marginLeft = "-25vw";
    document.getElementById("main").style.marginLeft = "0";
    document.body.style.backgroundColor = "white";
    document.getElementById("navhead").style.marginLeft = "0";
  }

  function openRightNav(id, func=null, data=null) {
    if(data != null){
      func(data)
    }
    if(!document.menuIsOpened){
      document.getElementById(id).style.marginLeft = "-25%";
      // document.getElementById("main").style.marginLeft = "20vw";
      document.getElementById("navhead").style.marginRight = "25vw";
      document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
      setTimeout(function(){
        document.menuIsOpened = true
      }, 200)
    }
  }

  function closeRightNav(id) {
    document.menuIsOpened = false
    document.getElementById(id).style.marginLeft = "-0%";
    // document.getElementById("main").style.marginRight = "0";
    document.body.style.backgroundColor = "white";
    document.getElementById("navhead").style.marginRight = "0";
  }

  function checkMenu(){
    if(document.menuIsOpened){
      closeLeftNav("Menu")
      closeRightNav("ChooseMY")
      closeRightNav("Event")
    }
  }

  function setDrMY() {
    var Ydr = $("#YeardrItem")[0]
    var nY = new Date().getFullYear()
    Ydr.innerHTML = ""
    for(var i = -5; i < 5; i++) {
      Ydr.innerHTML += '<li><a href="#" onclick="setYear('+(nY+i)+')">' + (nY+i) + '</a></li>'
    }
    var Mdr = $("#MonthdrItem")[0]
    Mdr.innerHTML = ""
    for(var i = 0; i < 12; i++) {
      Mdr.innerHTML += '<li><a href="#" onclick="setMonth('+i+')">' + window.MonthName[i] + '</a></li>'
    }
  }

  function setYear(y){
    window.Year = y
    setCal()
  }

  function setMonth(m){
    window.Month = m+1
    setCal()
  }

  function setCal() {
    var m = window.MonthName[window.Month-1]
    var y = window.Year+""
    $("#MonthShow").html(m)
    $("#YearShow").html(y)
    $("#year").html(y)
    $("#month").html(m)
    renderDay(window.Year, window.Month)
  }

  $(document).ready(function(){
    $(".mnav").click(function(elem){
      $(".mnav").each(function(i){
        $(".mnav")[i].className = "mnav"
      })
      $("#"+elem.currentTarget.id)[0].className = "mnav active"
    })
    window.Month = new Date().getMonth() + 1
    window.Year = new Date().getFullYear()
    window.MonthName = ["January", "Fabuary", "March", "April",
         "May", "June", "July", "August", "Setember",
         "October", "November", "December"]
    setDrMY()
    setCal()
  })
</script>
